{%- doc -%}
  Renders the search action button.

  @param {string} [style] - The style of the search action.
  @param {string} [class] - Additional classes for the search action.
{%- enddoc -%}

{% unless style == 'none' %}
  <search-button class="search-action{% if class != blank %} {{ class | strip }}{% endif %}">
    <button
      on:click="#search-modal/showDialog"
      class="button button-unstyled search-modal__button header-actions__action"
      aria-label="{{ 'accessibility.open_search_modal' | t }}"
    >
      <span class="svg-wrapper" aria-hidden="true">
        {% if settings.icon_search != blank %}
          {{ settings.icon_search | image_url: width: 20 | image_tag: 
             width: 20, 
             height: 20, 
             class: 'icon icon-search', 
             alt: 'Search' }}
        {% else %}
          <!-- Smaller Inline SVG -->
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
        {% endif %}
      </span>
    </button>
  </search-button>
{% endunless %}

{% stylesheet %}
  .search-action {
    --search-border-radius: var(--style-border-radius-inputs);
    --search-border-width: var(--style-border-width-inputs);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
  }

  .svg-wrapper svg,
  .svg-wrapper img {
    width: 50%;
    height: 50%;
    color:white;
  }

  /* Optional: Make it even smaller on mobile */
  @media screen and (max-width: 749px) {
    .svg-wrapper {
      width: 16px;
      height: 16px;
      color:white;
    }
  }

  .header__column--center .search-action {
    width: auto;
    flex-grow: 1;
  }

  :is(.header__column--left, .header__column--center) .search-action {
    @media screen and (min-width: 750px) {
      margin-inline: calc(var(--padding-lg) * -1);
    }
  }

  .header__column--right .search-action {
    @media screen and (min-width: 750px) {
      margin-inline: calc(var(--gap-md) * -1) calc(var(--gap-xs) * -1);
    }
  }
{% endstylesheet %}